<template>
  <v-app id="sandbox">
    <v-container fluid fill-height class="package-offering-container">
        <v-row justify="center" align="start" class="complete-your-purchase-container">
          <v-col cols="1">
            <p class="back-button">&lt; Back</p>
          </v-col>
          <v-col>
          </v-col>
          <v-col cols="1">            
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="1">
          </v-col>
          <v-col>
          <v-row align="center" justify="center" class="logo-margin">
          <SAPLogo dark/>
          </v-row>
          </v-col>
          <v-col cols="1">
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="1">
          </v-col>
          <v-col>
            <h1 class="powerup-text">Confirm Payment</h1>
          </v-col>
          <v-col cols="1">
          </v-col>
        </v-row>
        <v-row>
        </v-row>
        <v-row justify="center">
          <v-col cols="1">

          </v-col>
          <v-col>
          <v-row justify="center">
          <v-card id="order-summary" width="714px" height="543px">
              <v-col style="margin-left: 20px;">
              <v-row><h2>#INV00013</h2></v-row>
              <v-row><h3>Order Summary</h3></v-row>
              <v-row><h4>Package</h4></v-row>
              <v-row><p>Indonesia Silver</p></v-row>
              <v-row><h4>Period</h4></v-row>
              <v-row><p>01 Jan 2020 - 31 Des 2020</p></v-row>
              <v-row><h4>Principal</h4></v-row>
              <v-row><p>US$294.00</p></v-row>
              <v-row><h4>Disc Voucher</h4></v-row>
              <v-row><p>0</p></v-row>
              <v-row><h4>Tax</h4></v-row>
              <v-row><p>0</p></v-row>
              <v-row><h4>Total Price</h4></v-row>
              <v-row><p>US$294.00</p></v-row>
              </v-col>
          </v-card>
          </v-row>
          </v-col>
          <v-col cols="1">
            
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col cols="1">
          </v-col>
          <v-col>
          <v-row justify="center">
          <v-card id="payment-method-summary" width="714px" height="133px">
              <v-col style="margin-left: 20px;">
                <v-row>
                  <h3>Payment Method</h3>
                </v-row>
                <v-row>
                  <h4>Pay by </h4>
                </v-row>
                <v-row>
                  <p>Commonwealth Bank</p>
                </v-row>
              </v-col>
          </v-card>
          </v-row>
          </v-col>
          <v-col cols="1">
            
          </v-col>

        </v-row>
        <v-row >
          <v-col cols="1">
            
          </v-col>
          <v-col>
            
          </v-col>
          <v-col cols="1">
            
          </v-col>
        </v-row>
        <v-row>
          <v-col cols=1>
          </v-col>
          <v-col>
            <v-row justify="center">
            <v-card width="714px" height="50px" flat color="rgba(0,0,0,0)">
              <v-row justify="end" style="margin: 0;">
              <v-btn dark color="#F93B7A" to="/thankyouconfirm">Submit</v-btn>
              </v-row>
            </v-card>
            </v-row>
          </v-col>
          <v-col cols=1>
          </v-col>
        </v-row>
    </v-container>
  </v-app>
</template>
<script>
import SAPLogo from "@/components/SAPLogo";

export default {
    components: {
      SAPLogo,
    },
}
</script>

<style scoped>
.package-offering-container {
    background-color: #f6f8fa; 
}

.powerup-text {
  font-family: Roboto;
  font-size: 41px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  padding: 0;
  margin: 0;
}

.confirm-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.4);
}

#payment-instruction-text {
  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);  
}

#payment-instruction-text em {
  font-style: normal;
  color: #f93b7a; 
}

h2 {
  font-family: Roboto;
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);  

  margin-bottom: 27px;
  margin-top: 18px;
}

h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);  

  margin-bottom: 27px;
}

h4 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.4);  
}
#order-summary, #payment-method-summary {
  padding-left: 36px;
  padding-top: 10px;
}

#order-summary p, #payment-method-summary p {
  /* background-color: #35aee1; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8); 

  margin-bottom: 17px;
}

confirm-button-container {

}

.back-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  padding: 0;
  margin: 0;
}

.back-button a {
  text-decoration: none;
  color: rgba(73, 80, 98, 0.8);
}

/* subscription period box */
.subscription-period {
  width: 511px;
  height: 337px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 0 20px 37px 0 rgba(70, 82, 143, 0.08);
}

/* package info box */
.package-info {
  width: 290px;
  height: 535px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 0 20px 37px 0 rgba(70, 82, 143, 0.08);
}


/* next */
.next-button {
  width: 119px;
  height: 36px;
  /* box-shadow: 0 20px 37px 0 rgba(73, 80, 98, 0.08); */
  background-color: #35aee1;
}

#button-container {
   margin-top: 30px;
}
</style>