<template>
  <div>
    <div id="contextual-navigation-title">
      <h1>Analytix</h1>
    </div>
    <div id="contextual-navigation-nav-items">
      <!-- Home icon + Home link -->
      <a href="#">
        <img src="@/assets/Home.svg" />Home
      </a>
    </div>
    <div id="contextual-navigation-active-countries">
      <h1 id="bci-sap-label-activecountries">ACTIVE COUNTRIES</h1>
      <CountryPackage
        v-for="mycountries in MockPackage1"
        :key="mycountries.uuid"
        v-bind="mycountries"
      ></CountryPackage>
    </div>
    <div id="contextual-navigation-more-countries">
      <h1 id="bci-sap-label-morecountries">MORE COUNTRIES</h1>
      <AddCountryContinentList
        v-for="continent in ContinentAvailable"
        :key="continent.uuid"
        v-bind="continent"
      ></AddCountryContinentList>
    </div>
  </div>
</template>

<script>
import CountryPackage from "@/components/CountryPackage.vue";
import AddCountryContinentList from "@/components/AddCountryContinentList.vue";

export default {
  name: "ContextualNavigation",
  components: {
    CountryPackage,
    AddCountryContinentList
  },
  data() {
    return {
      "home-icon": "@/assets/Home.svg",
      MockPackage1: [
        {
          PackageCountryName: "Indonesia",
          PackageLevel: "platinum"
        },
        {
          PackageCountryName: "Singapore",
          PackageLevel: "silver"
        },
        {
          PackageCountryName: "Laos",
          PackageLevel: "gold"
        },
        {
          PackageCountryName: "Australia",
          PackageLevel: "platinium"
        }
      ],
      ContinentAvailable: [
        {
          ContinentName: "Asia"
        },
        {
          ContinentName: "ANZ"
        }
      ]
    };
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

html,
body,
div,
h1, h2, h3, h4, h5, h6,
p {
    font-family: 'Roboto', sans-serif;
}

/*
=====================
contextual-navigation
=====================
*/

#contextual-navigation-title {
    margin: 0;
    padding: 0;
}
#contextual-navigation-title h1 {
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 27px;
    font-weight: 700;
    color: rgba(73, 80, 98, 0.8);
}
#contextual-navigation-nav-items {
    margin: 0;
    padding: 8px 0;
    background-color: rgba(73, 80, 98, 0.06);
    border-right: 3px solid #f93b71;
}
#contextual-navigation-nav-items a {
    margin: 0 29px;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #495062;
}
#contextual-navigation-nav-items a img {
    margin-right: 8px;
}

h1#bci-sap-label-activecountries, h1#bci-sap-label-morecountries {
    margin-top: 29px;
    margin-bottom: 29px;
    letter-spacing: 0.45px;
}

.bci-sap-list-countries {
    margin: 18px 29px;
    font-size: 14px;
    color: rgba(73, 80, 98, 0.8);
}
.bci-sap-list-countries div {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(73, 80, 98, 0.8);
}
/* Untuk garis pembatas
#contextual-navigation-more-countries {
    margin: 0;
    padding: 29px;
}
*/
/* h1#bci-sap-label-morecountries {

}
.bci-sap-list-add-countries {

}
#bci-sap-list-countries-Asia {

} */
#bci-sap-list-countries-Asia h3 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(73, 80, 98, 0.8);
}
#bci-sap-list-countries-ANZ {

}
#bci-sap-list-countries-ANZ h3 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(73, 80, 98, 0.8);

}

h1, h3 {
    padding-left: 29px;
    padding-right: 29px;
}
div#contextual-navigation-title {
    font-size: 1.5em;
}
h1#bci-sap-label-activecountries,
h1#bci-sap-label-morecountries {
    font-size: 9px;
    color: rgba(73, 80, 98, 0.4);
}
h1#bci-sap-label-morecountries {
    margin-top: 54px;
}


.bci-sap-list-countries {
    margin: 18px 29px;
    font-size: 14px;
    color: rgba(73, 80, 98, 0.8);
}
h1, h3 {
    padding-left: 29px;
    padding-right: 29px;
}
.bci-sap-list-countries div {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(73, 80, 98, 0.8);
}
#bci-sap-list-countries-Asia h3, #bci-sap-list-countries-ANZ h3 {
    font-size: 14px;
    font-weight: 500;
    color: rgba(73, 80, 98, 0.8);
}
</style>
