<template>
  <v-app id="sandbox">
    <leftToolbar />
    <middleMenubar />
    <contentPane />
  </v-app>
</template>

<script>
  import leftToolbar from "../components/leftToolbar"
  import middleMenubar from "../components/middleMenubar"
  import contentPane from "../components/contentPane"
  // import CongratsDialog from "../components/CongratsDialog"

  export default {
    components: {
      leftToolbar,
      middleMenubar,
      contentPane,
      // CongratsDialog
    },
  data: () => ({
    congrats: 0,
  }),
  }
</script>