<template>
  <v-app id="sandbox">
<v-container fluid fill-height class="login-container">
    <v-row no-gutters>
        <v-col cols="2"/>
        <v-col cols="8">
            <v-row align="center" justify="center">
            <SAPLogo />
            </v-row>
            <v-row justify="center">
              <v-col class="login-text-container">
                <p class="login-text-title">New User Registration</p>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col class="credential-text-container">
                <p class="credential-text">Please confirm the data below, if need assistance please contact our <span class="account-manager-text">Account Manager</span></p>
              </v-col>
            </v-row>
            <v-row  justify="center" align="start">
            <v-col cols="6">
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Firstname</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Firstname" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Surname</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Surname" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Company name</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Company Name" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Account Manager</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Account Manager" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Default Country</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Default Country" 
                class="username-input"
                >
              </v-col>
            </v-row>
            </v-col>
            <v-col cols="6">
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Email</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Email" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Confirm Email</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Confirm Email" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Mobile Number</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Mobile Number" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Password</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Password" 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
            <v-col class="username-container">
            <span class="username-text">Confirm Password</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input  placeholder="Confirm Password" 
                class="username-input"
                >
              </v-col>
            </v-row>
            </v-col>
            </v-row>
            <v-row>
              <v-col cols=5>
                <p class="need-help-text">
                Need help?
                </p>
              </v-col>
              <v-col cols=5 class="cancel-next-button-container">
                <v-btn to="/" outlined dark label="Cancel" class="cancel-button">Cancel</v-btn>
                <v-btn to="/sendemailconfirmation" outlined dark label="Next" class="next-button">Next</v-btn>
              </v-col>
              <v-col cols=2 />
            </v-row>
        </v-col>
        <v-col cols="2"/>
    </v-row>
</v-container>
  </v-app>
</template>
<script>
  import SAPLogo from "../components/SAPLogo.vue"

  export default {
    components: {
      SAPLogo
    },
    data() { 
      return {
        alignmentsAvailable: [
          'start',
          'center',
          'end',
          'baseline',
          'stretch',
        ],
        alignment: 'center',
        dense: false,
        justifyAvailable: [
          'start',
          'center',
          'end',
          'space-around',
          'space-between',
        ],
        justify: 'center',
    }},
  }
</script>
<style scoped>
.cancel-next-button-container {
    text-align: right;  
}
.login-text-container {
  margin-bottom: 0px; 
  padding-bottom: 0px;
}
.login-text-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.credential-text-container {
  text-align: center;
  /* max-width: 444px; */
  margin-top: 0px; 
  padding-top: 0px;  
}
.credential-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);  
}
.username-container {
  padding:0; margin: 0;
}
.username-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}
.username-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;  
}
.username-input-container {
  padding:0; margin: 0;
}

.password-text-container {
  padding:0; margin: 0;
}

.password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}

.password-input-container {
  padding:0; margin: 0;
}
.password-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;
}
.forgot-password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f93b7a;
  text-align: right;
  margin-top: 10px;
}

.account-manager-text {
  color: #f93b7a;
}


.zero-padding-margin {
  margin: 0; padding: 0;
}
.need-help-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  display: inline;
  margin-right: 10px;
}

.login-container {
  /* background-color: #495062; */
  background: 
    radial-gradient(
      circle at 30% top,
      #495062,
      #1A1C1F
    );    
  /* background-color: #000000; */
  color: #ccc;

  margin: 0px;
  height: 100vh; 
  max-height: 100%;
}



.sap-logo-img {
  height: 70px;
  width: 61px;
}

.white--text /deep/ label {
    color: white;
}

>>>.v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}

.cancel-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}
.next-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
  margin-right: -10px;
}
</style>
