<template>
  <v-app id="sandbox">
    <v-container fluid fill-height class="package-offering-container">
        <v-row justify="center" align="center">
          <v-col cols="1">
            <p class="back-button"><router-link to="/sendemailconfirmation">&lt; Back</router-link></p>
          </v-col>
          <v-col>
                <p class="powerup-text">Let's power up your package!</p>
          </v-col>
        </v-row>
        <v-row justify="center" align="end">
            <v-col />
            <v-col>
              <SubscriptionPackage 
                package-type="silver"
                country-name="Indonesia" 
                :benefits=silver_benefits target-url="/subscriptionperiodselection"
              />
            </v-col>
            <v-col>
              <SubscriptionPackage package-type="gold" country-name="Indonesia" currency-code="US$" payment-amount='24' payment-period='/ Month' :most-popular='true'
                :benefits=gold_benefits 
              />
            </v-col>
            <v-col>    
              <SubscriptionPackage package-type="platinum" country-name="Indonesia" currency-code="US$" payment-amount='50' payment-period='/ Month' :most-popular='true' />
            </v-col>
            <v-col />
        </v-row>
    </v-container>
  </v-app>
</template>
<script>
import SubscriptionPackage from "../components/SubscriptionPackage"
export default {
    components: {
      SubscriptionPackage,
    },
    data: () => {
      return {
        silver_benefits:  [
          {id: 1, title: "benefit #0"}, 
          {id: 2, title: "benefit #2"}, 
          {id: 3, title: "benefit #3"}, 
          {id: 4, title: "benefit #3"} 
        ],
        gold_benefits:  [
          {id: 1, title: "gold benefit #1"}, 
          {id: 2, title: "gold benefit #2"}, 
          {id: 3, title: "gold benefit #3"}, 
          {id: 4, title: "gold benefit #3"} 
        ]
      }
    }
}
</script>
<style scoped>
.package-offering-container {
    background-color: #f6f8fa; 
}

.powerup-text {
  font-family: Roboto;
  font-size: 41px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  padding: 0;
  margin: 0;
}

.back-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.back-button a {
  text-decoration: none;
  color: rgba(73, 80, 98, 0.8);
}
</style>