<template>
  <v-app id="sandbox">
<v-container fluid fill-height class="login-container">
    <v-row no-gutters>
        <v-col cols="12">
            <v-row align="center" justify="center">
            <SAPLogo />
            </v-row>
            <v-row justify="center">
              <v-col class="login-text-container">
                <p id="bci-sap-title-login" class="login-text-title">Reset Password</p>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="credential-text-container">
                <p id="bci-sap-desc-login" class="credential-text">Please enter your new password</p>
              </v-col>
            </v-row>
            <v-row  justify="center" align="center">
            <div>
            <v-row>
            <v-col class="username-container">
            <span id="bci-sap-lbl-username" class="username-text">Password</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="username-input-container">
                <input id="bci-sap-txtfld-username"  placeholder="Type password here..." 
                class="username-input"
                >
              </v-col>
            </v-row>
            <v-row>
              <v-col class="password-text-container">
            <span id="bci-sap-lbl-password" class="password-text"  >Confirm Password</span>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="password-input-container">
                <input id="bci-sap-txtfld-password" type="password"  placeholder="Type password confirmation here..." 
                class="password-input">
              </v-col>
            </v-row>
            <v-row>
              <v-col style="text-align: left; padding-left: 0;">
                <p id="bci-sap-lbl-needhelp" class="need-help-text">
                Need help?
                </p>
              </v-col>
              <v-col style="text-align: right; padding-right: 0;">
                <v-btn id="bci-sap-btn-next" to="/landingpage" outlined dark label="Cancel" class="reset-button">Reset</v-btn>
              </v-col>
            </v-row>
            </div>
            </v-row>
        </v-col>
    </v-row>
</v-container>
  </v-app>
</template>
<script>
  import SAPLogo from "../components/SAPLogo.vue"

  export default {
    components: {
      SAPLogo
    },
    data() { 
      return {
        alignmentsAvailable: [
          'start',
          'center',
          'end',
          'baseline',
          'stretch',
        ],
        alignment: 'center',
        dense: false,
        justifyAvailable: [
          'start',
          'center',
          'end',
          'space-around',
          'space-between',
        ],
        justify: 'center',
    }},
  }
</script>
<style scoped>
.login-text-container {
  margin-bottom: 0px; 
  padding-bottom: 0px;
}
.login-text-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.credential-text-container {
  margin-top: 0px; 
  padding-top: 0px;  
}
.credential-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);  
}
.username-container {
  padding:0; margin: 0;
}
.username-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}
.username-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;  
}
.username-input-container {
  padding:0; margin: 0;
}

.password-text-container {
  padding:0; margin: 0;
}

.password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}

.password-input-container {
  padding:0; margin: 0;
}
.password-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;
}
.forgot-password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f93b7a;
  text-align: right;
  margin-top: 10px;
}
.zero-padding-margin {
  margin: 0; padding: 0;
}
.need-help-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  display: inline;
  margin-right: 10px;
}

.login-container {
  /* background-color: #495062; */
  background: 
    radial-gradient(
      circle at 30% top,
      #495062,
      #1A1C1F
    );    
  /* background-color: #000000; */
  color: #ccc;

  margin: 0px;
  height: 100vh; 
  max-height: 100%;
}



.sap-logo-img {
  height: 70px;
  width: 61px;
}

.white--text /deep/ label {
    color: white;
}

>>>.v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}

.reset-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
}
</style>
