<template>
  <v-app id="sandbox">
  <v-container fluid fill-height  class="signup">
    <v-row no-gutters align="center" justify="center">
        <v-col cols="12">
            <v-row align="center" justify="center" class="logo-margin">
            <SAPLogo />
            </v-row>
            <v-row justify="center" align="center"> 
              <v-col class="column-max-width-400">
                <v-hover v-model="newHover">
                <div class="center-text">
                <v-img id="bci-sap-icon-person" v-bind:class="{ biggerSize: newHover }"
                  src="@/assets/account.svg" 
                  class="center"
                >
                </v-img>
                </div>
                </v-hover>
                <v-hover v-model="newHover">
                <div class="center-text">
                <div class="position-relative">
                <div v-bind:class="{ hideText: newHover }">
                <p id="bci-sap-title-signup" class="large-signup-text">New to Analytix?</p>
                <p id="bci-sap-desc-signup" class="small-signup-text">Are you a New member?</p>
                </div>
                <v-scroll-x-transition>
                <div v-if="newHover" class="bci-member-container">
                <p class="large-signup-text">Are you BCI Member?</p>
                <div class="center-text">
                <v-btn to="/newuserreg" outlined dark label="No" class="button-no">No</v-btn>
                <v-btn to="/bcilogin" outlined dark label="Yes" class="button-yes">Yes</v-btn>
                </div>
                </div>
                </v-scroll-x-transition>                
                </div>
                </div>
                </v-hover>
                <!-- </v-hover> -->
              </v-col>
              <v-col class="center-line-container">
                <div class="center-line-height-159"></div>
              </v-col>
              <v-col class="column-max-width-400">
                <div>
                <v-hover v-model="loginHover">
                <router-link to="/login">
                <div class="center-text">
                <v-img id="bci-sap-icon-key" src="@/assets/key.svg" v-bind:class="{biggerSize: loginHover}"
                        class="center"
                ></v-img>
                </div>
                </router-link>
                </v-hover>
                <v-hover v-model="loginHover">
                <p id="bci-sap-title-login" class="large-signup-text">Let's Login</p>
                </v-hover>
                <div v-bind:class="{ hideText: loginHover }">
                <p id="bci-sap-desc-login" class="small-signup-text">Start your awesome day</p>                
                </div>
                </div>
              </v-col>
            </v-row>
        </v-col>
    </v-row>
  </v-container>
  </v-app>
</template>
<script>

import SAPLogo from "../components/SAPLogo"
export default {
  components: { SAPLogo },
  data: () => ({
      newHover: false,
      loginHover: false
    }),
}
</script>
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

.signup {
  /* background-color: #495062; */
  background: 
    radial-gradient(
      circle at 30% top,
      #495062,
      #1A1C1F
    );    
  /* background-color: #000000; */
  color: #ccc;

  margin: 0px;
  height: 100vh; 
  max-height: 100%;
}

.centerX {
    position: relative;          /* where the next element will be automatically positioned */
    display: inline-block;       /* causes element width to shrink to fit content */
    left: 50%;                   /* moves left side of image/element to center of parent element */
    /* transform: translate(-50%);  centers image/element on "left: 50%" position */
}

.center {
  display: inline-block;
}

.large-signup-text {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}

.small-signup-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.button-no {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}

.button-yes {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
}

.hideText {
  visibility: hidden;
}

.hideAndAnimateText {
  /* visibility: hidden; */

  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);

  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition:transform 0.5s ease-in-out;
  -ms-transition:transform 0.5s ease-in-out;

}

.biggerSize {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition:transform 0.5s ease-in-out;
  -ms-transition:transform 0.5s ease-in-out;
}

.logo-margin {
  margin-bottom: 40px;
}

.center-text {
 text-align: center;
}

.column-max-width-400 {
  max-width:404px;
}

.position-relative {
  position: relative;
}
.bci-member-container {
  margin: 0; position: absolute; top: 0; left: 60px;
}

.center-line-container {
  max-width: 1px; max-height:404; border-style: solid; border-width:0px 1px 0px 0px;
}

.center-line-height-159 {
  height: 159px;  
}
</style>
