<template>
  <v-app id="sandbox">
    <v-container fluid fill-height class="package-offering-container">
        <v-row justify="center" align="start" class="complete-your-purchase-container">
          <v-col cols="1">
            <p class="back-button">&lt; Back</p>
          </v-col>
          <v-col>
                <p class="powerup-text">Select Subscription Period</p>
          </v-col>
        </v-row>
        <v-row justify="center" align="start">
            <v-col />
            <v-col>
              <SubscriptionPeriod 
              />
              <div id="button-container">
              <!-- <v-btn color="#35aee1" :text='true' :to="{ name: 'LandingPage', params: { congrats: 1 } }" class="next-button white--text">Next</v-btn> -->
              <v-btn color="#35aee1" :text='true' :to="{ name: 'PaymentMethod', params: { congrats: 1 } }" class="next-button white--text">Next</v-btn>
              </div>
            </v-col>
            <v-col>
              <PackageInfo 
                package-type="Gold"
                country-name="Indonesia"              
              />
            </v-col>
            <v-col />
        </v-row>
        <v-row>
        </v-row>
    </v-container>
  </v-app>
</template>
<script>
import SubscriptionPeriod from "../components/SubscriptionPeriod"
import PackageInfo from "../components/PackageInfo"

export default {
    components: {
      SubscriptionPeriod, PackageInfo
    },
}
</script>

<style scoped>
.package-offering-container {
    background-color: #f6f8fa; 
}

.powerup-text {
  font-family: Roboto;
  font-size: 41px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  padding: 0;
  margin: 0;
}

.back-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  padding: 0;
  margin: 0;
}

.back-button a {
  text-decoration: none;
  color: rgba(73, 80, 98, 0.8);
}

/* subscription period box */
.subscription-period {
  width: 511px;
  height: 337px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 0 20px 37px 0 rgba(70, 82, 143, 0.08);
}

/* package info box */
.package-info {
  width: 290px;
  height: 535px;

  border-radius: 5px;
  background-color: white;
  box-shadow: 0 20px 37px 0 rgba(70, 82, 143, 0.08);
}


/* next */
.next-button {
  width: 119px;
  height: 36px;
  /* box-shadow: 0 20px 37px 0 rgba(73, 80, 98, 0.08); */
  background-color: #35aee1;
}

#button-container {
   margin-top: 30px;
}
</style>