<template>
  <v-app id="sandbox">
<v-container fluid fill-height class="page-container">
    <v-row no-gutters>
        <v-col cols="1"/>
        <v-col cols="10">
            <v-row align="center" justify="center">
            <h1 class="thankyou-message">Thank You for Your Confirmation</h1>  
            </v-row>
            <v-row align="center" justify="center">
            <div class="thankyou-desc">Thank you for your payment confirmation. We will check it and process your order and send you an email as soon as possible</div>
            <div><v-img src="@/assets/thankyou.png" /></div>
            </v-row>
            <v-row  align="center" justify="center">
            <div><v-btn to="landingpage" outlined dark label="Cancel" class="gotit-button">GOT IT</v-btn></div>
            </v-row>
        </v-col>
        <v-col cols="1"/>
    </v-row>
</v-container>
  </v-app>
</template>
<script>

  export default {
    components: {
    },
  }
</script>
<style scoped>
.page-container {
  background-color: white;
}

.thankyou-message {
  font-family: Roboto;
  font-size: 41px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
}
.thankyou-desc {
    width: 628px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.4);
}

.gotit-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
}
</style>
