<template>
  <v-app id="sandbox">
<v-container fluid fill-height class="login-container">
    <v-row no-gutters>
        <v-col/>
        <v-col >
            <v-row align="center" justify="left">
            <span class="welcome-message">Hi, Welcome to</span>  
            <SAPLogo />
            </v-row>
        </v-col>
        <v-col/>
    </v-row>
</v-container>
  </v-app>
</template>
<script>
  import SAPLogo from "../components/SAPLogo.vue"

  export default {
    components: {
      SAPLogo
    },
  }
</script>
<style scoped>
.welcome-message {
  font-family: Helvetica;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.8);
  padding-right: 1.5em; 
}
.login-text-container {
  margin-bottom: 0px; 
  padding-bottom: 0px;
}
.login-text-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.credential-text-container {
  margin-top: 0px; 
  padding-top: 0px;  
}
.credential-text {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);  
}
.username-container {
  padding:0; margin: 0;
}
.username-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}
.username-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;  
}
.username-input-container {
  padding:0; margin: 0;
}

.password-text-container {
  padding:0; margin: 0;
}

.password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);  
}

.password-input-container {
  padding:0; margin: 0;
}
.password-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;
}
.forgot-password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f93b7a;
  text-align: right;
  margin-top: 10px;
}
.zero-padding-margin {
  margin: 0; padding: 0;
}
.need-help-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  display: inline;
  margin-right: 10px;
}

.login-container {
  /* background-color: #495062; */
  background: 
    radial-gradient(
      circle at 30% top,
      #495062,
      #1A1C1F
    );    
  /* background-color: #000000; */
  color: #ccc;

  margin: 0px;
  height: 100vh; 
  max-height: 100%;
}



.sap-logo-img {
  height: 70px;
  width: 61px;
}

.white--text /deep/ label {
    color: white;
}

>>>.v-text-field > .v-input__control > .v-input__slot:before {
  border-style: none;
}

.cancel-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}
.next-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
}
</style>
