<template>
  <div class="bci-sap-list-add-countries">
    <AddCountryAsia :ContinentName="ContinentName"></AddCountryAsia>
  </div>
</template>

<script>
import AddCountryAsia from "@/components/AddCountryAsia.vue";

export default {
  name: "AddCountryBase",
  components: {
    AddCountryAsia
  },
  props: {
    CurrentUser: {
      type: Object
    },
    ContinentName: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
</style>