<template>
  <div v-bind:id="'bci-sap-list-countries-'+ ContinentName">
    <h3> {{ContinentName}}</h3>
    <h4>
      <AddCountryBase :ContinentName="ContinentName"></AddCountryBase>
    </h4>
  </div>
</template>

<script>
import AddCountryBase from "@/components/AddCountryBase.vue";

export default {
  name: "AddCountryContinentList",
  props: {
    ContinentName: {
      type: String,
      required: true,
    }
  },
  components: {
    AddCountryBase
  }
};
</script>

<style scoped>
</style>