<template>
  <div class="bci-sap-list-countries">
      <div v-for="country in AsiaCountries" :key="country.uuid">
          {{ country }}
      </div>
  </div>
</template>

<script>
export default {
  name: "AddCountryAsia",
  props: {
    ContinentName: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      AsiaCountries: {
        ContinentName: "Asia",
        Countries: ["Singapore", "Indonesia", "Laos", "Vietnam"]
      },
      MockUserData:{
          PackageOwned: ["Indonesia", "Singapore"]
      }
    }
  }
};
</script>

<style scoped>
</style>