<template>
    <v-content class="content-pane">
    <div>
    <UpgradeBanner></UpgradeBanner>     
    <v-container>
      <ContentPaneTitle />
      <ContentPaneDashboards />
    </v-container>
    </div>
    </v-content>
</template>

<script>
import UpgradeBanner from "@/components/UpgradeBanner.vue"
import ContentPaneTitle from "@/components/ContentPaneTitle.vue"
import ContentPaneDashboards from "@/components/ContentPaneDashboards.vue"

export default {
  components: {
    UpgradeBanner,
    ContentPaneTitle,
    ContentPaneDashboards
  },
}
</script>
<style scoped>
.v-content {
  margin-left: 65px; 
}

.bci-sap-content {
 padding: 0;
}

.container {
  width: 100%;
}

.content-pane {
  background-color: #f6f8fa;
}
</style>