<template>
  <v-row>
    <v-col>
    <v-row class="ma-2">
    <v-tabs background-color="#f6f8fa">
    <v-col>
    <v-row >
    <v-tab>Top 5</v-tab>
    <v-tab>All countries</v-tab>
    </v-row>
    </v-col>
      <ViewModeButtons @clicked="onClickMode"  v-if="!isMaximized" />
      <v-tab-item >
        <DashboardTopFive :vm="viewmode" @maximized="onMaximized" @fullWindow="onFullWindow" />
      </v-tab-item>    
      <v-tab-item >
        <DashboardAllCountries :vm="viewmode"/>
      </v-tab-item>
    </v-tabs>
    </v-row>
    </v-col>
  </v-row>
</template>

<script>
import ViewModeButtons from "./ViewModeButtons.vue";
import DashboardTopFive from "./DashboardTopFive.vue";
import DashboardAllCountries from "./DashboardAllCountries.vue";

export default {
    name: 'ContentPaneTabs',
    data: () => ({ viewmode: 'large', //[ 'large' , 'small' , 'list' ]
    isMaximized: false, 
    isFullWindow: false 
    }),  
    components: {
      ViewModeButtons,
      DashboardTopFive,
      DashboardAllCountries
    },
    methods: {
      onClickMode (value) {
        // console.log(value); // someValue
        switch (value) {
          case 1: 
            this.viewmode = 'small'
            break;
          case 2: 
            this.viewmode = 'list'
            break;
          default: 
            this.viewmode = 'large'
        }
      },
      onMaximized (value) {
        console.log( "Maximized: " + value );
        this.isMaximized = value;
      },
      onFullWindow (value) {
        console.log( "Full Window: " + value );
        this.isFullWindow = value;
      }
    }
}
</script>

<style scoped>
</style>