<template>
    <div>
      <ContentPaneTabs />
    </div>
</template>
<script>
import ContentPaneTabs from "@/components/ContentPaneTabs.vue"

export default {
    components: {
        ContentPaneTabs,
    },
    data() {
        return { 
            cards: [
            { 
                id: 1,
                width: "252px",
                height: "245px"
            },
            { 
                id: 2,
                width: "389px",
                height: "245px"
            },
            { 
                id: 3,
                width: "389px",
                height: "245px"
            },
            { 
                id: 4,
                width: "389px",
                height: "245px"
            },
            { 
                id: 5,
                width: "389px",
                height: "245px"
            },
            { 
                id: 6,
                width: "252px",
                height: "245px"
            },
            { 
                id: 7,
                width: "252px",
                height: "245px"
            },
            { 
                id: 8,
                width: "389px",
                height: "245px"
            },
            { 
                id: 9,
                width: "389px",
                height: "245px"
            },
        ]
    }},
}
</script>
<style scoped>
</style>