<template>
  <v-row>
    <v-col>
    <h1 class="bci-sap-content-title">Home</h1>
    </v-col>
  </v-row>
</template>

<script>
export default {
    name: 'ContentPaneTitle',
    data: () => ({}),
}
</script>

<style scoped>
  .bci-sap-content-title  {
    font-size: 22px; font-weight: 500; color: rgba(73, 80, 98, 0.8);
  }
</style>