<template>
  <div class="bci-sap-list-countries">
    <!-- package level icon + Country name -->
    <!-- <a href="#"> -->
        <!-- <img :src="'/assets/' + PackageLevel + '.png'"> -->
        {{ PackageCountryName }}
      <!-- </a> -->
    <!-- {{ PackageLevel }} {{ PackageCountryName }} -->
    <!-- Insert MyDashboard component -->
    <!-- Insert MyFavorite component -->
    <!-- platinium icon + Insert Create Your own dashboard comp-->
  </div>
</template>

<script>
export default {
  name: "CountryPackage",
  props: {
    PackageLevel: {
      type: String,
      required: true,
      validator: function(value) {
        // La valeur passée doit être l'une de ces chaines de caractères
        return ["Silver", "Gold", "Platinium"].indexOf(value) !== -1;
      }
    },
    PackageCountryName: {
      type: String,
      required: true
    }
  }
};
</script>

<style scoped>
</style>