<template>
      <div>
      <v-row class="grey-colored">
        <v-col>
          <v-row v-if="(vm =='large') && (!showDashboard)" justify="space-between">
              <v-card
                class="ma-2 mt-4"
                v-for="c in cards"
                :key="c.id"
                :max-width="c.width"
                :max-height="c.height"
              >
                <v-img :src="`${c.preview_img}`" @click="imgClick(c.id)"
                 style="cursor:pointer"
                />
                <!-- </router-link> -->
              </v-card>
              </v-row>
              <v-row v-if="vm =='small' && (!showDashboard)" justify="space-between">
              <v-card
                class="ma-2 mt-4"
                v-for="c in cards"
                :key="c.id"
                :max-width="c.smallWidth"
                :max-height="c.smallHeight"
              >
                <v-img :src="`${c.preview_img}`"  @click="imgClick(c.id)" style="cursor:pointer"/>
                <!-- <p>{{vm}}-{{c.id}}</p> -->
                <!-- <v-img src="@/assets/tableau/tableau_2.png" /> -->
              </v-card>
              </v-row>
              <v-row v-if="vm =='list' && (!showDashboard)">
              <v-card
                class="ma-1"
                v-for="c in cards"
                :key="c.id"
                :width="700"
                :height="50"
              >
                <p>{{vm}}-{{c.id}}</p>
              </v-card>
              </v-row>
              <v-row v-if="showDashboard">
                <v-col cols="12">
                <v-card
                  class="mx-auto"
                  outlined
                >
                  <v-system-bar
                        color="#495062"
                        dark
                      >
                        <v-spacer></v-spacer>

                        <!-- <v-icon @click="next">mdi-window-minimize</v-icon> -->

                        <v-icon @click="maximizeDashboard(activeDashboard)">mdi-window-maximize</v-icon>

                        <v-icon @click="minimizeDashboard">mdi-close</v-icon>
                      </v-system-bar>
                      <DashboardTableau :url="cards[activeDashboard].dashboardUrl" />
                </v-card>
                </v-col>
              </v-row>
        </v-col>
      </v-row>

      <!-- modal dialog -->
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="#495062">
          <v-toolbar-title>Dashboard</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon dark @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <!-- <v-btn dark text @click="dialog = false">Save</v-btn> -->
          </v-toolbar-items>
        </v-toolbar>
        <DashboardTableau :url="cards[activeDashboard].dashboardUrl"  :key="componentKey"/>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import DashboardTableau from '@/components/DashboardTableau';

export default {
    components: {
      DashboardTableau,
    },
    methods: {
      forceRerender() {
        this.componentKey += 1;
      },
      getImage(val) {
        return val;
      },
      imgClick(val) {
        console.log('imgClick('+ val +')');
        this.activeDashboard = val;
        this.showDashboard = true;
        this.$emit('maximized', true )
      },
      minimizeDashboard() {
        this.showDashboard=false;
        this.$emit('maximized', false )
      },
      maximizeDashboard(val) {
        this.activeDashboard = val;
        this.forceRerender();
        this.showDashboard=true;
        this.$emit('fullWindow', true );
        console.log("maximizeDashboard :key = " + this.componentKey );
        this.dialog = true
      },
    },
    data() {
        return {
            componentKey: 0,
            dialog: false,
            activeDashboard: 0,
            showDashboard: false,
            cards: [
            {
                id: 0,
                title: "Category",
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_1.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/CompaniesBasic/Searchresult?:display_count=n&:showAppBanner=false&:origin=viz_share_link&:showVizHome=n",
            },
            {
                id: 1,
                title: "Active Companies",
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_2.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/StateofMarketBasic/Dashboard12?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
            {
                id: 2,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_3.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/ProjectsBasic/Map?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
            {
                id: 3,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_4.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/ProjectsBasic/Dashboard?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
            {
                id: 4,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_5.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/StateofMarketBasic/Dashboard12?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
            {
                id: 5,
                title: "State of Market",
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_6.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/ProjectsBasic/Dashboard?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
            {
                id: 6,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_7.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/CompaniesBasic/Search?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",

            },
            {
                id: 7,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_8.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/CompaniesBasic/Searchresult?:display_count=n&:showAppBanner=false&:origin=viz_share_link&:showVizHome=n",
            },
            {
                id: 8,
                width: "322.72px",
                height: "204.78px",
                smallWidth: "150px",
                smallHeight: "200px",
                preview_img: "/tableau/tableau_9.png",
                dashboardUrl: "http://tableau.bcidata.net/t/Analytix/views/StateofMarketBasic/Circle?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link",
            },
        ]
    }},
    props: {
      vm: {
        type: String,
        default: "large",   // [ 'large', 'small', 'list' ]
      }
    },
}
</script>
<style scoped>
    .grey-colored { background-color: #f6f8fa; }
</style>