<template>
    <div ref="tableau">
    </div>
</template>

<script>
export default {
    name:"DashboardTableau",
    props: {
        url: {
            type: String,
            required: true,
        },
        /*TODO options should also be passed as props, the current syntax doesn't work*/
        options: {
            hideTabs: Boolean,
            hideToolbar: Boolean,
        },
    },

  /* Required to disable eslint errors */
  /* eslint-disable no-unused-vars */
  /* global tableau */
    methods: {
        initViz: function(){
        let viz = new tableau.Viz(this.$refs.tableau, this.url, {hideToolbar: true})
        },
    },
    mounted: function() {
    this.initViz()
  }
}
</script>

<style scoped>

</style>