<template>
     <v-navigation-drawer
      v-model="drawer"
      app
      mini-variant
      mini-variant-width="65"
      clipped
      permanent
      color=#495062      
      class="left-nav-drawer"
    >
      <v-container fill-height> 
        <div class="mb-auto" id="bci-sap-logo-sap">
        <v-btn 
          tile icon width="45" height="45"
          :retain-focus-on-click="true"
        >
        <v-img 
          contain
          width="40px"
          height="40px"
          src="@/assets/TheLeftNavBar/bci-sap-logo.png" ></v-img>
        </v-btn>
        </div>
        <div class="left-nav-search-button">
          <v-btn tile icon width="45" height="45">
          <v-img 
            contain
                    width="40px"
                    height="32px"
            src="@/assets/TheLeftNavBar/bci-sap-search.png" ></v-img>
          </v-btn>
          <v-btn  id="bci-sap-icon-notification" tile icon width="45" height="45">
          <v-img 
            contain
                    width="40px"
                    height="40px"
            src="@/assets/TheLeftNavBar/bci-sap-notif-active.png" ></v-img>
          </v-btn>
          <v-btn  id="bci-sap-icon-apps"  tile icon width="45" height="45">
                  <v-img 
                    contain
                    width="40px"
                    height="32px"
                    src="@/assets/TheLeftNavBar/bci-sap-apps.png" ></v-img>
          </v-btn>
          <v-btn id="bci-sap-icon-profile" tile icon width="45" height="45">
                  <v-img 
                    contain
                    width="40px"
                    height="32px"
                    src="@/assets/TheLeftNavBar/bci-sap-profile.png" ></v-img>
          </v-btn>
          <v-btn id="bci-sap-icon-settings"  tile icon width="45" height="45"  class="left-nav-settings-button">
                  <v-img 
                    contain
                    width="40px"
                    height="32px"
                    src="@/assets/TheLeftNavBar/bci-sap-settings.png" ></v-img>
          </v-btn>
          </div>
    </v-container>
    </v-navigation-drawer>
</template>
<script>
export default {
    name: 'leftToolbar',
    data: () => ({
      drawer: false,
    }),
}
</script>
<style scoped>
.left-nav-drawer {
  z-index:1;
}
.left-nav-search-button {
  position: absolute; 
  bottom: 0;
}
.left-nav-settings-button {
  margin-bottom: 20px;
}
</style>