<template>
  <div>
    <form id="bci-abalytix-loginForm">
      <input id="bci-abalytix-txtfld-username" class="username-input" placeholder="User name, email, mobile number" v-model="LoginAnalytix.user_name"/>
      <br><br>
      <input id="bci-analytix-txtfld-pwd" class="password-input" placeholder="password" type="password" v-model="LoginAnalytix.password_security"/> 
      <br>
      <button id="bci-analytix-btn-next" v-on:click="submitForm($event)" o="/landingpage" outlined dark label="Next" class="next-button"> Next </button>
      <button id="bci-analytix-btn-cancel"  to="/" outlined dark label="Cancel" class="cancel-button"> Cancel </button>
    </form>
  </div>
</template>


<script>

export default {
  name: "LoginForm",
  components: {
  },
  data() {
    return {
      // Data
      LoginAnalytix: {
        user_name: "",
        password_security: "",
      }
    };
  },
  methods :{
    /* more documentation about fetch() 
    https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch */
    // NOTE David : postData and submitForm expose data that would be nice to be hidden from users.
    // TODO: check SWD-479 Refactor the code to be in the server side.
    async postData(url = '' ) {
          // Default options are marked with *
          const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
              'Content-Type': 'application/json',
              'x-api-key': '1234567890'
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(this.LoginAnalytix), // body data type must match "Content-Type" header
          });
          return await response.json(); // parses JSON response into native JavaScript objects
    },
    submitForm: function(event){
      if(event) {
        event.preventDefault()
        this.postData('https://dev.sg.api.bcidata.net/user/login')
          .then((data) => {
            console.log(data); // JSON data parsed by `response.json()` call
          });
      }
    },
    
  },
}
</script>
<style scoped>

.username-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}
.username-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;
}

.password-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}

.password-input-container {
  padding: 0;
  margin: 0;
}
.password-input {
  width: 309px;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  text-indent: 10px;
}
.cancel-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  margin-right: 10px;
}
.next-button {
  width: 98px;
  height: 36px;
  border-radius: 5px;
  background-color: #f93b7a;
}
</style>
