<template>
  <v-navigation-drawer id="bci-sap-drawer-menu" v-model="drawer" app permanent width="231px" class="navDrawer">
    <div id="bci-sap-lbl-sap"
      class="nav-drawer-title"
    >Analytix</div>
    <v-list dense id="bci-sap-list-menu" class="menu-list">
      <v-list-item-group :mandatory="true"> 
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-home</v-icon>
          </v-list-item-icon>
          <v-list-item-title id="bci-sap-logo-home">Home</v-list-item-title>
        </v-list-item>
        <v-list-item id="bci-sap-lbl-activecountries" :disabled="true">
          <v-list-item-title class="country-group-title overline">ACTIVE COUNTRIES</v-list-item-title>
        </v-list-item>
       <v-list-group sub-group>
          <template v-slot:activator>
            <v-list-item-icon class="list-badge">
              <v-img
                position="center center"
                contain
                :src="require('@/assets/MenuBar/silver-inactive.png')"
              ></v-img>
            </v-list-item-icon>
            <v-list-item-content class="list-menu-group-title">
              <v-list-item-title><span class='grey--text text--darken-1'>Indonesia</span></v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item class="list-menu-children" v-for="(crud, i) in Indonesia" :key="i" link>
            <v-list-item-icon>
              <v-icon size="x-small" v-text="crud[1]"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-html="crud[0]"></v-list-item-title>
            <v-list-item-action>
              <v-icon v-text="crud[2]"></v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>        
        <v-divider light class="group-divider"></v-divider>
        <v-list-item id="morecountries" :disabled="true">
          <v-list-item-title class="country-group-title overline"
          >MORE COUNTRIES</v-list-item-title>
        </v-list-item>
        <v-list-group sub-group>
          <template v-slot:activator>
            <v-list-item-content class="list-menu-group-title-no-badge">
              <v-list-item-title><span class='grey--text text--darken-1'>Asia</span></v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item class="list-menu-children" v-for="(crud, i) in Asia" :key="i" link>
            <v-list-item-icon>
              <v-icon size="small" v-text="crud[1]"></v-icon>
            </v-list-item-icon>
            <v-list-item-title v-html="crud[0]"></v-list-item-title>
            <v-list-item-action>
              <v-icon v-text="crud[2]"></v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  name: "middleMenubar",
  data: () => ({
    drawer: false,
    Indonesia: [
      ["<span class='grey--text'>My Dashboard</span>", "mdi-circle-outline", "","bci-sap-list-mydashboard"],
      ["<span class='grey--text'>My Favourites</span>", "mdi-circle-outline", "mdi-star-outline","bci-sap-list-myfavourites"],
      ["<span class='grey--text'>Create Your Own</span>", "mdi-circle-outline", "", "bci-sap-list-createdashboard"]
    ],
    Asia: [
      [
        "<span class='grey--text text--lighten-1'>Add</span> <span class='grey--text'>Singapore</span>",
        "mdi-plus",
        "",
        "bci-sap-list-add-singapore"
      ],
      [
        "<span class='grey--text text--lighten-1'>Add</span> <span class='grey--text'>Thailand</span>",
        "mdi-plus",
        "",
        "bci-sap-list-add-thailand"
      ],
      [
        "<span class='grey--text text--lighten-1'>Add</span> <span class='grey--text'>Vietnam</span>",
        "mdi-plus",
        "",
        "bci-sap-list-add-vietnam"
      ],
      [
        "<span class='grey--text text--lighten-1'>Add</span> <span class='grey--text'>Phillipines</span>",
        "mdi-plus",
        "",
        "bci-sap-list-add-phillipines"
      ]
    ]
  })
};
</script>

<style scoped>

.v-list-item .v-item--active .v-list-item--active {
  background-color: black;
}

.navDrawer {
  left:65px;
}
.nav-drawer-title {
  margin: 18px 29px 10px 29px;
  font-size: 27px; 
  font-weight: 700; 
  color: rgba(73, 80, 98, 0.8);
}

.menu-list {
  margin-left: 0px;
}

.country-group-title {
  padding-left: 12px;
  color: rgba(73, 80, 98, 0.4);
}

.list-badge {
  margin-left: -15px;
}

.list-menu-group-title {
  margin-left: 10px;
}

.list-menu-group-title-no-badge {
   margin-left: -10px;
}

.group-divider {
  margin: 10px 0px 10px 0px; 
}

.v-list-item-group .v-list-item--active  {
  color: black;
  box-shadow: inset -10px 0 10px -10px rgb(249, 59, 113);
}

.theme--light.v-list-item--active:hover::before, .theme--light.v-list-item--active::before {
  opacity: 0.05;
}

>>>.v-list-group--sub-group.v-list-group--active .v-list-item__icon.v-list-group__header__prepend-icon .v-icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}


</style>
