<template>
    <div class="package-info">
    <div>
    <span>
    <span v-if="packageType == 'Silver'" class="package-type silver">
      {{packageType}}
    </span> 
    <span v-if="packageType == 'Gold'" class="package-type gold">
      {{packageType}}
    </span> 
    <span v-if="packageType == 'Platinum'" class="package-type platinum">
      {{packageType}}
    </span> 
    <span class="package-country">{{countryName}}</span>
    </span>
    </div>
    <v-list class="package-benefit-list">
    <v-list-item v-for="item in benefits" v-bind:key="item.id" >
    <v-list-item-icon>
    <v-img v-if="packageType == 'Silver'" src="@/assets/list-icon-green-check.svg"/>
    <v-img v-if="packageType == 'Gold'" src="@/assets/list-icon-yellow-check.svg"/>
    <v-img v-if="packageType == 'Platinum'" src="@/assets/list-icon-pink-check.svg"/>
    </v-list-item-icon>
    <v-list-item-content>
    <v-list-item-title class="package-benefit-item">{{item.title}}</v-list-item-title>
    </v-list-item-content>
    </v-list-item> 
    </v-list>
    </div>
</template>
<style scoped>
.package-info {
    padding: 33px 31px;
}
.package-type {
  font-family: Roboto;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  /* color: #f2d234; */
  color: rgba(73,80,98,0.8);
  padding:15px 0;
}

.package-type.silver::before {
    margin: 0 10px 0 0;
    content: url("../assets/silver-logo.svg");
} 

.package-type.gold::before {
    margin: 0 10px 0 0;
    content: url("../assets/gold-logo.svg");
}

.package-type.platinum::before  {
    margin: 0 10px 0 0;
    content: url("../assets/platinum-logo.svg");
}



.package-country {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.36; */
  letter-spacing: normal;
  text-align: center;
  /* color: #f2d234; */
  color: rgba(73,80,98,0.4);
  padding:15px 0;
}

.v-list-item {
  padding: 5px 0;
}

.package-benefit-item {
  width: 139px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);  
}

.v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
  min-width: 0;
}

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 16px;
}

.v-list-item__icon {
  margin: 8px 0;
}

.v-list-item__content {
  padding: 0px 0;
}

.v-list-item {
  min-height: 0;
}
</style>
<script>
export default {
    name: "PackageInfo",
    props: {
            packageType: { default: "Silver", type: String },
            countryName: { default: "Indonesia", type: String },
            benefits: { default: () => [ 
                {id: 1, title: "Lorem benefit 1"}, 
                {id: 2, title: "Ipsum Dolor benefit 2"}, 
                {id: 3, title: "Sit Amet benefit 3"}, 
                {id: 4, title: "Lorem Ipsum benefit 4"},
                {id: 5, title: "Dolor sit benefit 5"} 
                ],
                type: Array },
            } 
}
</script>