<template>
  <v-card width="290px" height="442px" class="summary-container">
  <v-col width="242">
    <v-row>
      <h2>Summary</h2>
    </v-row>
    <v-row>
    <div class="package-type-container">
    <span v-if="packageType == 'Silver'" class="package-type silver">
      {{packageType}}
    </span> 
    <span v-if="packageType == 'Gold'" class="package-type gold">
      {{packageType}}
    </span> 
    <span v-if="packageType == 'Platinum'" class="package-type platinum">
      {{packageType}}
    </span> 
    <span class="package-country">{{countryName}}</span>
    </div> 
    </v-row>
    <v-row>
      <v-col cols="8"><v-row style="padding-left: 20px;">US$ 24.50 X 12 Months</v-row></v-col>
      <v-col cols="4"><v-row style="padding-right: 20px;" justify="end">US$294.00</v-row></v-col>
    </v-row>
    <v-row justify="center">
    <div  class="border-bottom"/>
    </v-row>
    <v-row>
      <v-col cols="8"><v-row style="padding-left: 20px;">Total</v-row></v-col>
      <v-col cols="4"><v-row style="padding-right: 20px;" justify="end">US$294.00</v-row></v-col>
    </v-row>
    <v-row justify="center">
    <div  class="border-bottom"/>
    </v-row>
    <v-row justify="center">
      <v-btn to="/transfersummary" outlined dark label="Yes" class="button-pink">Checkout</v-btn>
    </v-row>
    <v-row justify="center">
    <v-list class="package-benefit-list">
    <v-list-item>
    <v-list-item-icon>
    <v-img src="@/assets/list-icon-green-check.svg"/>
    </v-list-item-icon>
    <v-list-item-content>
    <v-list-item-title class="package-benefit-item">Safe &nbsp; Secure Payment</v-list-item-title>
    </v-list-item-content>
    </v-list-item> 
    <v-list-item>
    <v-list-item-icon>
    <v-img src="@/assets/list-icon-green-check.svg"/>
    </v-list-item-icon>
    <v-list-item-content>
    <v-list-item-title class="package-benefit-item">14 Day Money Back Guarantee</v-list-item-title>
    </v-list-item-content>
    </v-list-item> 
    </v-list>
    </v-row>
    <v-row justify="center">
      <div class="tnc-text" >
      <p>By purchasing, you accept the <a href="#">Terms</a></p>
      <p>acknowledge reading the <a href="#">Privacy Policy</a></p>
      </div>
    </v-row>
  </v-col>
  </v-card>
</template>
<style scoped>
.package-benefit-list {
  margin-top: 15px;
}

.tnc-text {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);
  
  margin-top: 20px; 
  text-align: center;
}

.tns-text, a {
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #35aee1;
}

.summary-container {
  opacity: 0.8;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);
}

.border-bottom {
    width: 241.2px;
    border-bottom: solid 1px #E2E2E2;
}

h2 {
  padding-left: 20px;
  margin-bottom: 18px;

  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);    
}

.package-type-container {
  padding-left: 20px;
}

.package-info {
    padding: 26px 23px;
    width: 290px;
    height: 442px;
}

.button-pink {
  margin-top: 10px;
  width: 241.2px;
  height: 36px;
  background-color: #f93b7a;  
}

.package-type {
  font-family: Roboto;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  /* color: #f2d234; */
  color: rgba(73,80,98,0.8);
  padding:15px 0;
}

.package-type.silver::before {
    margin: 0 10px 0 0;
    content: url("../assets/silver-logo.svg");
} 

.package-type.gold::before {
    margin: 0 10px 0 0;
    content: url("../assets/gold-logo.svg");
}

.package-type.platinum::before  {
    margin: 0 10px 0 0;
    content: url("../assets/platinum-logo.svg");
}



.package-country {
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 1.36; */
  letter-spacing: normal;
  text-align: center;
  /* color: #f2d234; */
  color: rgba(73,80,98,0.4);
  padding:15px 0;
}

.v-list-item {
  padding: 5px 0;
}

.package-benefit-item {
  /* width: 200px;
  height: 19px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);  
}

.v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
  min-width: 0;
}

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 16px;
}

.v-list-item__icon {
  margin: 8px 0;
}

.v-list-item__content {
  padding: 0px 0;
}

.v-list-item {
  min-height: 0;
}
</style>
<script>
export default {
    name: "PackagePaymentInfo",
    props: {
            packageType: { default: "Silver", type: String },
            countryName: { default: "Indonesia", type: String },
            benefits: { default: () => [ 
                {id: 1, title: "Lorem benefit 1"}, 
                {id: 2, title: "Ipsum Dolor benefit 2"}, 
                {id: 3, title: "Sit Amet benefit 3"}, 
                {id: 4, title: "Lorem Ipsum benefit 4"},
                {id: 5, title: "Dolor sit benefit 5"} 
                ],
                type: Array },
            } 
}
</script>