<template>
    <v-row justify="center">
      <v-col cols="12">
        <div class="image-placeholder">
        <img src="@/assets/call-agent.png" />
        </div>
        <v-row justify="center">
          <p class="cheque-message-text" >Please contact our Account Manager to confirm your cheque payment</p>
        </v-row>
        <v-row justify="center">
          <v-btn color="#35aee1">Contact Them</v-btn>
        </v-row>
      </v-col>
    </v-row>
</template>
<script>
export default {
    name: "PaymentChequeForm",
    
}
</script>
<style scoped>
.image-placeholder {
   margin-top: 10px;
   text-align: center;
}

.cheque-message-text {
 width: 300px; text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.4);
}
</style>
