<template>
    <v-card width="511" height="736" flat>
        <v-col>
        <v-row>
        <h2 class="subtitle">Payment Method</h2>
        </v-row>
        <v-row class="button-container">
        <v-btn-toggle
          group 
          mandatory
          v-model="activeMethod"
        >
          <v-btn value="cc">
            <v-img src="@/assets/cc-btn.svg" />              
            <span style="margin: 5px;">Credit Card</span>
          </v-btn>

          <v-btn value="transfer" >
            <v-img src="@/assets/transfer-btn.svg" />              
            <span style="margin: 5px;">Bank Transfer</span>
          </v-btn>

          <v-btn value="cheque" >
            <v-img src="@/assets/cheque-btn.svg" />              
            <span style="margin: 5px;">Cheque</span>
          </v-btn>

        </v-btn-toggle>            
        </v-row>
        <PaymentCCForm v-if="activeMethod === 'cc'" />
        <PaymentTransferForm v-if="activeMethod === 'transfer'" />
        <PaymentChequeForm v-if="activeMethod === 'cheque'" />
        </v-col>
    </v-card>
</template>
<script>
import PaymentCCForm from "@/components/PaymentCCForm.vue";
import PaymentTransferForm from "@/components/PaymentTransferForm.vue";
import PaymentChequeForm from "@/components/PaymentChequeForm.vue";

export default {
    name: "PaymentMethodForm",
    components: { PaymentCCForm, PaymentTransferForm, PaymentChequeForm },
    props: [],
    data: () => ({
      activeMethod: "cc", /** [ 'cc', 'transfer', 'cheque'] */
    }),
}
</script>
<style scoped>
h2 {
  padding-left: 12px;
  padding-bottom: 10px;

  font-family: Roboto;
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);    
}

.button-container {
  padding-left: 8px;
}

>>>.v-btn:before {
    background-color:white;
    border: 1px solid red; 
}

>>> :not(.v-btn--active) .v-btn__content { 
  color: #e2e2e2;

}  

>>> .v-btn--active .v-btn__content { 
  color: #f93b7a; 
  border-color: red;  
}  

</style>
