<template>
    <v-row justify="start" class="ml-2 mr-2">
        <div class="ma-0">
        <v-img src="@/assets/cc-logo.png" contain width="336px" height="48px" />
        </div>
        <v-row>
            <v-col>
              <v-text-field label="Card Number" outlined hide-details></v-text-field>
            </v-col>
        </v-row>
        <v-row>
          <v-col>
          <v-text-field label="Expiration" outlined hide-details></v-text-field>
          </v-col>
          <v-col>
          <v-text-field label="CVV" outlined hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
          <v-text-field label="First Name" outlined hide-details></v-text-field>
          </v-col>
          <v-col>
          <v-text-field label="Last Name" outlined hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col>
              <v-text-field label="Address" outlined hide-details></v-text-field>
            </v-col>
        </v-row>
        <v-row>
          <v-col>
          <v-text-field label="City" outlined hide-details></v-text-field>
          </v-col>
          <v-col>
          <v-text-field label="Postal Code" outlined hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
          <v-text-field label="Country" outlined hide-details></v-text-field>
          </v-col>
          <v-col>
          <v-text-field label="Phone" outlined hide-details></v-text-field>
          </v-col>
        </v-row>
        <v-row>
            <v-col>
          <v-text-field label="Company" outlined hide-details placeholder="">
          </v-text-field>
          </v-col>
        </v-row>
    </v-row>
</template>
<script>
export default {
    name: "PaymentCCForm",
}
</script>
<style scoped>

</style>
