<template>
    <div>
        <v-radio-group :mandatory="true" class="pa-0 ma-0">
        <v-row>
          <v-col>
          <div class="bank-option-button">
            <v-radio value="1" class="color-pink">
              <template slot="label">
              <img src="@/assets/bank-ocbc-logo.png"/>
              </template>                         
            </v-radio>
          </div>
          </v-col>
          <v-col>
          <div class="bank-option-button">
            <v-radio value="2" class="color-pink">
              <template slot="label">
                  <img src="@/assets/bank-hsbc-logo.png"/>
              </template>                         
            </v-radio>
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
          <div class="bank-option-button">
            <v-radio value="3" class="color-pink">
              <template slot="label">
                <img src="@/assets/bank-commonwealth-logo.png" />
              </template>                         
            </v-radio>
          </div>
          </v-col>
          <v-col>
          </v-col>
        </v-row>
        </v-radio-group>
    </div>
</template>
<script>
export default {
    name: "PaymentTransferForm",    
}
</script>
<style scoped>
.bank-option-button {
  border: 1px solid lightgray; padding: 10px;  
  border-radius: 5px;

}


>>>.mdi-radiobox-marked::before {
    color: #F93B7A;
}

>>>.mdi-radiobox-blank {
    color: #F93B7A;
}
</style>
