<template>
    <span>
        <v-col class="zero-margin-padding">
        <v-row align="center">
        <v-col  class="zero-margin-padding">
        <v-img v-if="!dark" id="bci-sap-img-logo" src="@/assets/LoginPage/bci-sap-logo.svg" ></v-img>
        <v-img v-if="dark" id="bci-sap-img-logo" src="@/assets/LoginPage/bci-sap-logo-dark.svg" ></v-img>
        </v-col >
        <v-col>
        <span  v-if="!dark" id="bci-sap-lbl-sap" class="sap-logo-text">Analytix</span>
        <span  v-if="dark" id="bci-sap-lbl-sap" class="sap-logo-text-dark">Analytix</span>
        </v-col>
        </v-row>
        </v-col>
    </span>
</template>
<style scoped>
.zero-margin-padding {
  /* margin:0; padding: 0; */
}
.sap-logo-text {
  font-family: Roboto;
  font-size: 58px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.sap-logo-text-dark {
  font-family: Roboto;
  font-size: 58px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);
  text-align: center;
}

.sap-logo {
  /* margin-left: auto; */
  /* max-width: 57px; */
  /* padding: 0px; */
}
</style>
<script>
export default {
    name: "SAPLogo",
    props: { 
      dark: { 
        type: Boolean, 
        default: false,            
        } 
    }
}
</script>