<template>
    <div class="package-offering">
    <v-img v-if="packageType === 'silver'" src="@/assets/silver-ribbon.svg" class="package-type-ribbon" />
    <v-img v-if="packageType === 'gold'" src="@/assets/gold-ribbon.svg" class="package-type-ribbon" />
    <v-img v-if="packageType === 'platinum'" src="@/assets/platinum-ribbon.svg" class="package-type-ribbon" />
    <div v-if="mostPopular" class="most-popular-text">Most Popular</div>
    <div class="package-country">{{countryName}}</div>
    <div class="currency-code">{{currencyCode}}</div>
    <span class="payment-amount">{{paymentAmount}}</span>
    <span class="payment-period">{{paymentPeriod}}</span>
    <v-btn :to="targetUrl" v-if="packageType == 'silver'" color="#a2a19d" class="buy-package-button white--text font-weight-bold" >Buy</v-btn>
    <v-btn :to="targetUrl" v-if="packageType == 'gold'" color="#f2d234" class="buy-package-button white--text font-weight-bold" >Buy</v-btn>
    <v-btn :to="targetUrl" v-if="packageType == 'platinum'" color="#afa271" class="buy-package-button white--text font-weight-bold" >Buy</v-btn>
    <v-list class="package-benefit-list">
    <v-list-item v-for="item in benefits" v-bind:key="item.id" >
    <v-list-item-icon>
    <v-img v-if="packageType == 'silver'" src="@/assets/list-icon-green-check.svg"/>
    <v-img v-if="packageType == 'gold'" src="@/assets/list-icon-yellow-check.svg"/>
    <v-img v-if="packageType == 'platinum'" src="@/assets/list-icon-pink-check.svg"/>
    </v-list-item-icon>
    <v-list-item-content>
    <v-list-item-title class="package-benefit-item">{{item.title}}</v-list-item-title>
    </v-list-item-content>
    </v-list-item> 
    </v-list>
    </div>  
</template>

<script>
export default {
    name: 'SubscriptionPackage',
    props: {
            packageType: { default: "silver", type: String },
            countryName: { default: "Indonesia", type: String },
            currencyCode: { default: "US$", type: String },
            paymentAmount: { default: "15", type: String },
            paymentPeriod: { default: "/ Month", type: String },
            benefits: { default: () => [ 
                {id: 1, title: "benefit 1"}, 
                {id: 2, title: "benefit 2"}, 
                {id: 3, title: "benefit 3"} 
                ],
                type: Array }, 
            mostPopular: { default: false, type: Boolean},
            targetUrl: { default: '#', type: String },
    } 
}
</script>

<style scoped>
.package-offering {
    /* border-style: solid;
    border-width: 1px; */
    width: 253px; height: 495px; 
    box-shadow: 0 20px 37px 0 rgba(70, 82, 143, 0.08);
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
}

.package-offering .package-type-ribbon {
  position: absolute;
  top: -10px;
  right: -15px;
  margin: 0;
  padding: 0;
}

.package-offering .most-popular-text {
  top:25px;
  left:85px;
  position: absolute;

  /* width: 84px;
  height: 19px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #f2d234;
}

.package-offering .package-country {
  position: absolute;
  top: 53px;
  left: 75px;

  font-family: Roboto;
  font-size: 27px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);

}
.package-offering .currency-code {
  position: absolute;
  top: 112px;
  left: 48px;

  /* width: 28px;
  height: 21px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);


}

.package-offering .payment-amount  {
  width: 64px;
  height: 73px;
  font-family: Roboto;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  /* text-align: center; */
  color: rgba(73, 80, 98, 0.8);

  position: absolute;
  top: 97px;
  left: 77px;

}

.package-offering .payment-period {
  /* width: 56px;
  height: 21px; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: rgba(73, 80, 98, 0.8);

  position: absolute;
  top: 136px;
  left: 149px;

}

.package-offering .buy-package-button {
  position: absolute;
  top: 183px;
  left: 30px;

  width: 193px;
  height: 43px;
  background-color: #a2a19d;

}

.package-offering .package-benefit-list {
  top: 259px;
  left: 33.8px;
  position: absolute;
}

.v-list-item {
  padding: 0 0;
}

.package-benefit-item {
  width: 139px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);  
}

.v-list-item__action, .v-list-item__avatar, .v-list-item__icon {
  min-width: 0;
}

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 16px;
}

.v-list-item__icon {
  margin: 8px 0;
}

.v-list-item__content {
  padding: 0px 0;
}

.v-list-item {
  min-height: 0;
}
</style>  