<template>
<!-- <div > -->
        <v-card width="511" height="337" flat>
            <v-col>
            <v-radio-group :mandatory="true" class="pa-0 ma-0">
            <v-row align="center" class="border-bottom">
                <v-col cols="8">
                     <v-radio value="1">
                        <template slot="label">
                            <span class="period-options-text">14 Days trial.</span>
                        </template>                         
                     </v-radio>
                </v-col>
                <v-col cols="4">
                </v-col>
            </v-row>
            <v-row align="center" class="border-bottom">
                <v-col cols="8">
                     <v-radio value="2">
                        <template slot="label">
                            <span class="period-options-text">2 Years</span>
                            <span class="price">US$ 23 X 24 Months</span>  
                        </template>                         
                     </v-radio>
                </v-col>
                <v-col cols="4">
                    <v-chip
                    class="ma-2"
                    color="green"
                    label
                    outlined
                    >
                    SAVE US$168
                    </v-chip>  
                </v-col>
            </v-row>
            <v-row align="center">
                <v-col cols="8">
                     <v-radio value="3">
                        <template slot="label">
                            <span class="period-options-text">1 Year</span>
                            <span class="price">US$ 24.5 X 12 Months</span>  
                        </template>                         
                     </v-radio>
                </v-col>
                <v-col cols="4">
                    <v-chip
                    class="ma-2"
                    color="green"
                    label
                    outlined
                    >
                    SAVE US$66
                    </v-chip>  
                </v-col>
            </v-row> 
            <v-row align="center" class="border-bottom">
                <v-col cols="1">
                </v-col>
                <v-col cols="7">
                    <div class="input-container">
                            <input class="input-voucher" placeholder="Voucher Code"/>
                        </div>                    
                </v-col>
                <v-col cols="4">
                </v-col>
            </v-row>
            <v-row align="center">
                <v-col cols="8">
                     <v-radio value="4">
                        <template slot="label">
                    <span class="period-options-text">Monthly</span><span class="price">US$ 24.5 / Months</span>  
                        </template>                         
                     </v-radio>
                </v-col>
                <v-col cols="4">
                </v-col>
            </v-row>                            
            </v-radio-group>
            </v-col>
        </v-card>
  <!-- </div>  -->
</template>
<script>
export default {
    name: "SubscriptionPeriod2",
    propts: [],
    data: () => ({
      inset: false,
      items: [
        'default',
        'vertical',
      ],
      variant: 'default',
    }),
}
</script>
<style scoped>
input.voucher-code {
    border-radius: 5px;
    border: solid 1px #e2e2e2;
}

.period-options-text {
  width: 113px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);

  margin: 0 10px ;
}

.price {
  /* width: 127px;
  height: 19px; */
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  color: rgba(73, 80, 98, 0.8);
}

.border-bottom {
    border-bottom: solid 1px #E2E2E2;
}
.input-container {
    height: 50px; padding: 0; margin: 0; 
}
.input-voucher {
    margin-left: 0px; width: 219px;
    height: 36px;
    border-radius: 5px;
    border: solid 1px #e2e2e2;
    padding: 7px 14px;

    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
}

>>>.mdi-radiobox-marked::before {
    color: #F93B7A;
}

>>>.mdi-radiobox-blank {
    color: #F93B7A;
}
</style>
