<template>
  <div>
    <div id="the-left-nav-bar-logo-container">
      <TheLeftNavBarLogo></TheLeftNavBarLogo>
    </div>
    <div id="the-left-nav-bar-items-container">
      <TheLeftNavBarItems></TheLeftNavBarItems>
    </div>
  </div>
</template>

<script>
import TheLeftNavBarItems from "./TheLeftNavBarItems.vue";
import TheLeftNavBarLogo from "./TheLeftNavBarLogo.vue";

export default {
  name: "TheLeftNavBar",
  components: {
    TheLeftNavBarItems,
    TheLeftNavBarLogo
  }
};
</script>

<style>
#the-left-nav-bar-logo-container {
  position: relative;
}

#the-left-nav-bar-items-container {
  position: absolute;
  bottom: 203px;
  width: inherit;
  height: auto;
  margin: 13px;
}
</style>