<template>
  <div class="the-left-nav-bar-logo">
    <img v-for="item in items" :key="item.uuid" :src="item.icon" :id="item.id" />
  </div>
</template>

<script>
export default {
  name: "TheLeftNavBarLogo",
  data() {
    return {
      items: [
        {
          id: "bci-sap-logo-sap",
          icon: require("@/assets/TheLeftNavBar/bci-sap-logo-sap.png")
        }
      ]
    };
  }
};
</script>

<style scoped>
.the-left-nav-bar-logo {
  position: absolute;
  top: 25px;
  margin-left: 13px;
}

.the-left-nav-bar-logo img {
  object-fit: contain;
  width: 40px;
  height: 40px;
}
</style>