<template>
  <div class="the-left-nav-bar-items">
    <ul>
      <li v-for="item in items" :key="item.uuid" :id="item.id">
        <button class="left-nav-bar-button">
          <img :src="item.icon" />
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TheLeftNavBarItems",
  data() {
    return {
      items: [
        {
          id: "bci-sap-notification-active",
          icon: require("@/assets/TheLeftNavBar/bci-sap-notification-active.png"),
          link: 1
        },
        {
          id: "bci-sap-apps",
          icon: require("@/assets/TheLeftNavBar/bci-sap-apps.png"),
          link: 2
        },
        {
          id: "bci-sap-profile",
          icon: require("@/assets/TheLeftNavBar/bci-sap-profile.png"),
          link: 3
        },
        {
          id: "bci-sap-settings",
          icon: require("@/assets/TheLeftNavBar/bci-sap-settings.png"),
          link: 4
        }
      ]
    };
  }
};
</script>

<style scoped>
.the-left-nav-bar-items * {
  object-fit: contain;
  list-style-type: none;
  width: 40px;
  height: 32px;
  padding-inline-start: 0;
}

.the-left-nav-bar-items li {
  margin-bottom: 21px;
}

.left-nav-bar-button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  overflow: hidden;
  outline:none;  
  width: 42px;
  height: 42px; 
  padding: 2px 0px 0px 1px;
  border-radius: 5px;
  cursor:pointer
}

.left-nav-bar-button:hover {
  background-color:rgba(255, 255, 255, 0.1) 
}
</style>