<template>
    <div>
<v-alert
      v-model="alert"
      border="left"
      close-text="Close Alert"
      color="#f93b7a"
      dark
      dismissible
      id="upgrade-alert"
    >
     <v-row align="center">
        <v-col class="grow">Your indonesia gold package will be expired in 14 days.</v-col>
        <v-col class="shrink">
          <v-btn to="/packageoffering"
            text
            outlined
            color="#f93b7a"
            class="bci-sap-banner-button-color"
          >UPGRADE NOW!</v-btn>
        </v-col>
      </v-row>    
        <!-- <v-banner
      tile
      color="#f93b7a"
      single-line
      :sticky="true"
      close-text="Close Alert"
      dismissible      
    > -->
      <!-- <p class="bci-sap-banner-text-color">
        Your indonesia gold package will be expired in 14 days.
      </p>
      <template v-slot:actions>
        <v-btn
          text
          outlined
          color="#f93b7a"
          class="bci-sap-banner-button-color"
        >UPGRADE NOW!</v-btn>
      </template> -->
    <!-- </v-banner>  -->
    </v-alert>
    </div>
</template>

<script>
export default {
    name: 'UpgradeBanner',
    data: () => ({}),
}
</script>

<style scoped>
.bci-sap-banner-text-color {
  font-size: 14px; 
  color: #fff; 
  margin: auto;
}

.bci-sap-banner-button-color {
  background-color: white;
}

#upgrade-alert {
  padding: 0px 20px; margin: 0px 0px;
}
</style>