<template>
        <v-btn-toggle 
          v-model="toggle_exclusive"
          mandatory
          @change="onClickChange"
        >
          <v-btn>
            <v-icon>mdi-format-align-left</v-icon>
          <!-- <v-img 
            contain
            width="50px"
            height="50px"
            src="@/assets/ContentPane/button1.svg" ></v-img> -->
          </v-btn>
          <v-btn>
            <v-icon>mdi-format-align-center</v-icon>
          </v-btn>
          <v-btn>
            <v-icon>mdi-format-align-right</v-icon>
          </v-btn>
        </v-btn-toggle>
</template>
<script>


export default {
 methods: {
    onClickChange(event) {
      // console.log("event: " + event )
      this.$emit('clicked', event )
    }
  },
  data() { return { toggle_exclusive: 0 }  },

}
</script>
<style scoped>

</style>